body,
html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.container>* {
  flex: 1 1;
  border: 0;
  margin: 0;
  padding: 0;
}

.container>*:first-child {
  /* biography column (aside) */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: rgb(252, 238, 155);
}

.container>*:last-child {
  /* iframe column (article) */
  flex: 1 0 60%;
  background: rgb(247, 246, 240);
}

.iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

.step {
  /* within the biography column subcontainer */
  display: flex;
  flex-direction: column;
}

.step:last-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.step3-detail {
  border: 0;
  resize: none;
  outline: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.step3-detail>*:first-child {
  flex-grow: 1;
  border: 0;
  resize: none;
  outline: none;
  background-color: rgb(247, 246, 240);
}

.button-group {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  background: #25422d;
  border: 0;
  cursor: pointer;
  padding: 0.8rem 0.8rem;
  height: 2.5rem;
}

.button.navigation {
 background-repeat: no-repeat;
 background-position: 50% 50%;
 width: 3rem;
}

.button.navigation.prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%23fff' viewBox='0 0 18 18'%3E%3Cpath d='M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z'/%3E%3C/svg%3E");
}

.button.navigation.next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%23fff' viewBox='0 0 18 18'%3E%3Cpath d='M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z'/%3E%3C/svg%3E");
}

p {
  margin: 0.5rem 0;
}

h1,
h2 {
  font-size: 30px;
  color: #393a3c;
  font-family: "calibribold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 1rem 0;
}

h2 {
  font-size: 20px;
}

input:not(.button),
textarea {
  width: 100%;
  border: 0;
}

.old-tv-effect[tv="on"] {
  animation: turn-on 0.55s linear;
  animation-fill-mode: forwards;
}

.old-tv-effect[tv="off"] {
  animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

@keyframes turn-on {
  0% {
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
  60% {
    transform: scale(1, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
}

@keyframes turn-off {
  0% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}

.pulse-effect[pulse="on"] {
  animation: pulse-red 0.5s linear;
}

.pulse-effect[pulse="green"] {
  animation: pulse-green 0.3s linear;
}

@keyframes pulse-red {
  0% {
    background-color: white;
  }
  20% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}

@keyframes pulse-green {
  0% {
    background-color: white;
  }
  20% {
    background-color: lightgreen;
  }
  100% {
    background-color: white;
  }
}